header{
    background-color: rgb(209, 207, 207);
    width: 2000px;
    height: 420px;
    text-align: center;
    padding-top: 200px;
    color: rgb(0, 0, 0);
    
}

h1{
    font-size: 80px;
    font-family: 'Rubik Puddles';
}
.barre{
 text-align: center;

}

.html{
    font-size: 60px;
    font-weight: bolder;
    color: rgb(255, 11, 60);
    font-family: 'Abril Fatface';
    
}

h3{
    font-size: 40px;
    font-weight: bolder;
    color: chartreuse;
    font-family: 'Abril Fatface';
}

p{
    font-size: 30px;
    font-weight: bolder;
    font-family: 'La Belle Aurore';
}

.css{
font-size: 60px;
    font-weight: bolder;
    color: rgb(57, 8, 253);
    font-family: 'Abril Fatface';
}

.js{
    font-size: 60px;
    font-weight: bolder;
    color: rgb(251, 255, 20);
    font-family:'Abril Fatface' ;
}

.frbac{
    font-size: 60px;
    font-weight: bolder;
    color: rgb(151, 150, 157);
    font-family: 'Abril Fatface';
}

.html1{
    width: 150px;
    
}

.css1{
    width: 150px;
    height: 200px;
    padding-bottom: 8px;

}

.js1{
    width: 180px;
    height: 208px;
    margin-bottom: 1px;
}


